:root
{
  --color-gray:#333333;
  --color-gray-dark:#222222;
  --color-gray-light:#cccccc;
  --color-ongoing:#98c1d9;
  --color-done:#ee6c4d;
  font-family: Helvetica;
}

body
{
  margin: 0;
}

*
{
  box-sizing: border-box;
}